
/* TODO: Refactor the heading/body sizes onto a typographic scale. */
body {
    background-color: #FAF9F7;
}

header {
    background-image: -o-radial-gradient(50% 216%, #9E1452 50%, #4C0921 100%);
    background-image: -moz-radial-gradient(50% 216%, #9E1452 50%, #4C0921 100%);
    background-image: -webkit-radial-gradient(50% 216%, #9E1452 50%, #4C0921 100%);
    background-image: -ms-radial-gradient(50% 216%, #9E1452 50%, #4C0921 100%);
    background-image: radial-gradient(50% 216%, #9E1452 50%, #4C0921 100%);
}

section {
    clear: both;
}

section.hero {
    text-align: center;
}

h1 {
    font-family: 'Whitney SSm A', 'Whitney SSm B'; 
    font-weight: 300; 
    font-style: normal;
    font-size: 4em;
    letter-spacing: -0.03em;
    -webkit-font-smoothing: antialiased;
}

h2, h3 {
    font-family: 'Gotham SSm A', 'Gotham SSm B'; 
    font-weight: 700; 
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.75em;
}

p {
    font-family: 'Mercury SSm A', 'Mercury SSm B';
    font-style: normal;
    line-height: 146%;
    color: #575757;
}

p.lead {
    font-style: italic;
    color: #8D8D8D;
    font-size: 1.25em;
    -webkit-font-smoothing: antialiased;
}

p.subtitle {
    font-style: italic;
    text-align: center;
    font-size: 0.875em;
}

a.logo { 
    display: block;
    width: 202px;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/logo.png) no-repeat;
    overflow: hidden;
    text-indent: -200%;
}

.btn {
    /* Typography */
    font-family: 'Gotham SSm A', 'Gotham SSm B'; 
    font-weight: 700; 
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 3em;

    /* Layout */
    display: block;
    border: 2px solid black;
    border-radius: 4px; 
}

    .btn.cta {

    }

.trinity {
    list-style: none;
}

.trinity li {
    width: 33%;
    float: left;
}
