a.logo { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 202px;
    height: 102px;
    background: url(../img/logo.png) no-repeat;
    overflow: hidden;
    text-indent: -200%;
    font-size: 72px;
    text-align: center;
    line-height: 150%;
    letter-spacing: -2px;
    text-rendering: optimizeLegibility;
    color:#fff;
    padding-bottom: 12px;
}
